<div class="main_about">

    <div class="banner">
      <div class="bgtext1"><span >INTELLI</span></div>
      <span class="bgtext2">WE ARE</span>
        <div class="main_text" >WE ARE <span>INTELLICAR</span></div>
        <div class="sub_text" >Fleet Management has never been easier. Our team of automotive engineers</div>
    </div>
    <div class="about_log">
      <div class="left_log">
        <div class="ll_bgtext">WE ARE</div>
        <div class="ll_box"></div>
        <div class="ll_head">WHO WE <br><span>ARE</span></div>
        <div class="ll_content"><p>Lorem ipsum dolor sit amet, condffdsectetur adi facilisis alat ligula<br>
                                   ligulaeleifend suscipit nifdsssl. Crastortor plakat non. Nulla ullamfd<br>
                                   sscorper, nibhdolor sit amet, consectetur adidfsdpiscing elitipsum<br>
                                   sit amet, ctefsdtur.dolonsecteur ddpiscing elitoi.Utsipsum dolor sit<br>
                                   amet, consectefsdtur.</p></div>

        <div class="ll_line"></div>
      </div>

      <div class="right_log">
        <div class="rl_box"></div>
        <div class="rl_head">WHAT WE <br><span>BELIEVE IN</span></div>
        <div class="rl_content"><p>Lorem ipsum dolor sit amet, condffdsectetur adipi facilisis alat ligula<br>
                                   ligulaeleifend suscipit nifdsssl. Crastortor placerat non. Nulla ullamfd<br>
                                   sscorper, nibhdolor sit amet, consectetur adidfsdlkjkpiscing elitipsum<br>
                                   sit amet, ctefsdtur.dolonsecteur ddpiscing elit.Utsiphhgsum dolor sit<br>
                                   amet, consectefsdtur.</p></div>
        <div class="rl_bgtext">BELIEVE</div>
        <div class="rl_line"></div>
      </div>

    </div>

    <div class="about_log3">
      <div class="al_left">

        <div class="all_box"></div>
        <div class="all_head">UNIQUE<br><span>SELLING POINT</span></div>
        <div class="all_content"><p>Lorem ipsum dolor sit amet, condffdsectetur adi facilisis<br>
          ligulaeleifend suscipit nifdsssl. Crastortor plakat non. Nul<br>
          sscorper, nibhdolor sit amet, consectetur adidfsdpiscing<br>
          sit amet, ctefsdtur.dolonsecteur ddpiscing elitoi.Utsipsu<br>
          amet, consectefsdtur.</p>
        </div>

      </div>
      <div class="al_right">

        <div class="alr_box">
          <div class="alrb_left">
            <div class="alrb_icon"><img src="images/icons/hardware.png" /></div>
            <div class="alrb_lhead">HARDWARE</div>
            <div class="alrb_line"></div>
            <div class="alrb_content">Lorem ipsum dolor sit amet, condf<br>
                                      nsdsifdsssl. Crastortor plakat non<br>
                                      Lorem ipsum dolor sit amet, condf<br>
                                      sit amet, consectetur adidfsdpisc.<br>
            </div>
          </div>
          <div class="alrb_right">
            <div class="alrbr_icon"><img src="images/icons/software.png" /></div>
            <div class="alrbr_lhead">SOFTWARE</div>
            <div class="alrbr_line"></div>
            <div class="alrbr_content">Lorem ipsum dolor sit amet, condf<br>
              nsdsifdsssl. Crastortor plakat non<br>
              Lorem ipsum dolor sit amet, condf<br>
              sit amet, consectetur adidfsdpisc.<br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="timeline">

      <div class="t_bgtext">MILESTONES</div>
      <div class="t_head">MILESTONES</div>
      <div class="t_sub">WE ACHIEVED</div>

      <div class="time">

        <div class="time_right1">

        </div>
      </div>

    </div>

</div>
