<div class="home">
  <div class="banner">

    <div class="contact">
      <div class="email">INFO@INTELLICAR.IN</div>
      <div class="c_no">CONTACT : 9902682775</div>
    </div>

    <div class="ban_left">
      <div class="banr_bgbox"></div>
      <div class="banl_content">
        <div class="ban_mainhead">INTELLICAR TELEMATICS</div>
        <div class="ban_subhead">INDIA'S MOST COMPREHENSIVE FLEET <br>TRACKING ECOSYSTEM</div>
      </div>
    </div>
    <div class="ban_right">

      <div class="banr_screenbox">
        <div class="banrsb_text"><span id="banrsb_head">GET ONE MONTH </span><br><span id="banrsb_sub"> FREE DEMO</span></div>
        <div class="banrsb_btn">GET A DEMO</div>
      </div>
      <div class="banr_lapbox" ><img class="banr_lap" src="images/icons/laptop.png" /></div>
    </div>
  </div>

</div>
