<div class="home">
  <div class="banner">

    <div class="contact">
      <div class="email">INFO@INTELLICAR.IN</div>
      <div class="c_no">CONTACT : 9902682775</div>
    </div>

    <div class="ban_left">
      <div class="banr_bgbox"></div>
      <div class="banl_content">
        <div class="ban_mainhead">INTELLICAR TELEMATICS</div>
        <div class="ban_subhead">INDIA'S MOST COMPREHENSIVE FLEET <br>TRACKING ECOSYSTEM</div>
        <div class="ban_para">Almost every decision you make with your fleet comes<br>
                              down to having the right data at the right time.
                              <!--With <br>-->
                              <!--Intellicar's proprietary GPS Location, Engine Diagnostics<br>-->
                              <!--& Driver Behaviour Analytics, the power is truly in your <br>hands.-->
        </div>
      </div>
    </div>
    <div class="ban_right">

      <div class="banr_screenbox">
        <div class="banrsb_text"><span id="banrsb_head">GET ONE MONTH </span><br><span id="banrsb_sub"> FREE DEMO</span></div>
        <div class="banrsb_btn">GET A DEMO</div>
      </div>
      <div class="banr_lapbox" ><img class="banr_lap" src="images/icons/laptop.png" /></div>
    </div>
    <div class="industry">

    </div>

  </div>

  <div class="stats">
    <img src="images/map.png">
    <div class="stat_mainhead">STATISTICS</div>
    <div class="stat_subhead">NUMBERS TALK. VOLUMES DEFINE. EXPERIENCE COUNTS.</div>
    <div class="stat_numbox">
      <div class="stat stat_num1 stat_num">
        <div class="stat_no">227</div>
        <div class="stat_text">BECONS SEND</div>
      </div>
      <div class="stat stat_num">
        <div class="stat_no">235</div>
        <div class="stat_text">CARS TRACKED</div>
      </div>
      <div class="stat stat_num">
        <div class="stat_no">400</div>
        <div class="stat_text">DEVICE INSTALLED</div>
      </div>
      <div class="stat stat_num">
        <div class="stat_no">980</div>
        <div class="stat_text">BECONS SEND</div>
      </div>
      <div class="stat stat_num">
        <div class="stat_no">978</div>
        <div class="stat_text">CARS TRACKED</div>
      </div>
    </div>
  </div>

  <div class="tabs">
    <div class="tabs_log">
      <div class="tab_com tabs_log1">
        <img src="images/icons/solution.png">
        <div class="tab_head">SOLUTIONS</div>
        <div class="tab_content">Every industry has a story to <br>tell, and specific solutions tailored to it.</div>
        <div class="tab_btn">READ MORE</div>
      </div>
      <div class="tab_com">
        <img src="images/icons/hardware.png">
        <div class="tab_head">HARDWARE</div>
        <div class="tab_content">Reliable hardware that provides <br>accurate data is part of the puzzle. The right mix creates wonders.</div>
        <div class="tab_btn">READ MORE</div>
      </div>
      <div class="tab_com">
        <img src="images/icons/software.png">
        <div class="tab_head">SOFTWARE</div>
        <div class="tab_content">Does one size fit all? Probably not when it comes to<br> software, that is.</div>
        <div class="tab_btn">READ MORE</div>
      </div>
    </div>

  </div>

  <div class="clients">
    <div class="cli_head">CLIENTS</div>
    <div class="cli_subhead">WHETHER OUR CLIENTS HAVE 5 VEHICLES OR 5000<br> WE ALWAYS STRIVE TO DO OUR BEST.</div>
    <div class="cli_logobox">
      <div class="clilogo_r1">
        <div class="cli_logo logo1"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
      </div>
      <div class="clilogo_r1">
        <div class="cli_logo logo1"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
      </div>
      <div class="clilogo_r1">
        <div class="cli_logo logo1"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
        <div class="cli_logo"><img src="images/icons/ola.png"></div>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class=""></div>
  </div>

</div>
